---
import { Image } from 'astro:assets';
import pricingImg from '/src/assets/home/pricing/pricingImg.png';

interface Props {
    tag: string;
    price: string;
    description: string;
}

const { tag, price, description } = Astro.props;
---

<div class="bg-[#F1F0F9] p-6 rounded-3xl flex flex-col gap-y-6 text-center transition-transform duration-300 hover:-translate-y-2 w-[405px]">
    <!-- Тег (Apartment, House, etc.) -->
    <div class="self-start">
    <span class="text-xs font-normal text-violet-700 border border-violet-300 rounded-full px-4 py-1.5 uppercase">
      {tag}
    </span>
    </div>

    <!-- Блок с изображением и ценой -->
    <div class="grid grid-cols-1 sm:grid-cols-2 items-center gap-4 flex-grow">
        <!-- Изображение -->
        <div class="w-[155px] h-[148px] bg-white rounded-full flex items-center justify-center shadow-sm p-6" style="width: 155px; height: 148px; padding: 24px;">
            <Image src={pricingImg} alt={tag} class="w-full h-full object-cover rounded-full" />
        </div>

        <!-- Информация о цене -->
        <div class="text-center sm:text-left">
            <p class="text-sm font-semibold text-gray-600">FROM</p>
            <p class="text-4xl font-semibold text-gray-800 my-1">{price}</p>
            <p class="mt-2 text-xs font-normal text-gray-500 uppercase tracking-wider">{description}</p>
        </div>
    </div>
</div>
