---
import { Icon } from 'astro-icon/components';
import PricingCard from "./PricingCard.astro";
import ModalController from '@components/base/ModalController.tsx';
import SectionHeader from '@components/base/SectionHeader.astro';
import Button from '@components/base/Button.astro';
import { pricingSectionData } from './pricingData';

const { title, category, description, allLink, allLinkText, pricingCards } = pricingSectionData;
---

<section class="section section-gap h-[631px]">
    <div class="container">
        <SectionHeader 
            title={title}
            category={category}
            description={description}
            allLink={allLink}
            allLinkText={allLinkText}
        />

        <!-- Сетка с карточками цен -->
        <div class="mt-lg grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {pricingCards.map(card => <PricingCard {...card} />)}
        </div>

        <!-- Футер секции -->
        <div class="text-center md:text-left mt-lg">
            <p class="text-gray-600 mb-sm">
                Prices vary by size/condition. Get your exact price instantly.
            </p>
            <ModalController client:idle>
                <Button 
                    isModalButton={true}
                    text="BOOK NOW"
                />
            </ModalController>
        </div>
    </div>
</section>