---
import { Icon } from 'astro-icon/components';

interface Props {
  title: string
  subtitle?: string
  description?: string
  category?: string
  allLink?: string
  allLinkText?: string
}

const {
  title,
  subtitle = '',
  description,
  category = '',
  allLink = '',
  allLinkText = 'ALL SERVICES',
} = Astro.props
---

<!-- Основной контейнер заголовка секции -->
<div class="max-w-3xl">
  <!-- Контейнер для категории и ссылки "все услуги" -->
  <div class={`flex flex-col items-center my-2 text-center ${allLink ? 'md:flex-row md:justify-between md:items-center' : 'md:flex-row md:justify-start md:items-center'}`}>
    <!-- Отображение категории с декоративным элементом -->
    {category && (
      <div class="flex items-center">
        <div class="w-4 h-4 bg-[#F5F3FF] mr-2"></div>
        <p class="text-sm uppercase tracking-wider text-black">
          {category}
        </p>
      </div>
    )}
    <!-- Ссылка "все услуги" -->
    {allLink && (
      <a 
        href={allLink}
        class="flex items-center gap-2 text-[#40A69F] font-semibold underline hover:cursor-pointer mt-2 md:mt-0"
      >
        {allLinkText}
        <Icon name="externalLink" class="w-5 h-5" />
      </a>
    )}
  </div>
  <!-- Основной заголовок секции -->
  <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold text-zinc-900 mb-8 text-center md:text-left">
    {title}
    <!-- Подзаголовок (если есть) -->
    {subtitle && <span class="block text-lg font-normal mt-sm text-center md:text-left">{subtitle}</span>}
  </h2>
  <!-- Описание секции -->
  <p class="text-base sm:text-lg text-zinc-600 text-center md:text-left">
    {description}
  </p>
</div>