---
import { Icon } from 'astro-icon/components';

const contactOptions = [
    {
        title: 'E-Mail us',
        description: "Lorem ipsum dolor sit amet.",
        type: 'email',
        value: 'wellknowncleaning@test.com',
        href: 'mailto:wellknowncleaning@test.com',
    },
    {
        title: 'Fill Out Form',
        description: "Lorem ipsum dolor sit amet.",
        type: 'button',
        text: 'REQUEST SOMETHING',
    },
    {
        title: 'Phone us',
        description: "Lorem ipsum dolor sit amet.",
        type: 'tel',
        value: '(215) 555-0199',
        href: 'tel:2155550199',
    },
]

const { class: externalClass = '' } = Astro.props;
---

<section class={`relative w-full bg-[#D1EAE8] pt-24 pb-[32rem] text-center ${externalClass}`}>
    <div class="max-w-7xl mx-auto mb-8 px-6 sm:px-8">
        <div class="max-w-3xl mx-auto px-4">
            <div class="flex flex-col items-center mb-8 text-center">
                <div class="flex items-center justify-center mb-6">
                    <div class="w-4 h-4 bg-[#F1F0F9]  mr-2"></div>
                    <span class="text-md font-semibold tracking-wider text-black">
                        Get in Touch
                    </span>
                </div>
                <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-zinc-900 mb-md">
                    Have a Questions?
                </h2>
                <p class="text-base sm:text-lg text-zinc-600">
                    Reach out to us for any inquiries, quotes, or to schedule your cleaning service. Our friendly team is ready to assist you.
                </p>
            </div>
        </div>
        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-16">
            {contactOptions.map((option) => (
                    <div class="flex flex-col items-center text-center gap-4 p-4">
                        <div class="w-15 h-15 bg-white rounded-full mb-4"></div>
                        <h3 class="text-2xl font-bold text-slate-800">{option.title}</h3>
                        <p class="text-gray-600 max-w-[250px]">{option.description}</p>
                        <div class="mt-4 font-semibold text-slate-800">
                            {option.type === "email" || option.type === "tel" ? (
                                    <a href={option.href} class="hover:underline">
                                        {option.value}
                                    </a>
                            ) : option.type === "button" ? (
                                    <button class="font-medium text-white hover:text-white relative inline-block px-6 py-3 bg-[var(--primary)] hover:bg-[var(--primary-hover)] rounded-full transition-all duration-300 hover:-translate-y-1 overflow-hidden cursor-pointer">
                                <span class="relative z-10 flex items-center gap-2">
                                    <Icon name="bounding-box" class="icon w-4 h-4" />
                                    {option.text}
                                </span>
                                    </button>
                            ) : null}
                        </div>
                    </div>
            ))}
        </div>
    </div>
</section>